<ion-content class="theme-background" padding>
    <div (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
        <span class="text-grey" style="margin-left: 7px;">Back</span></div>
    <div class="title mt">
        <span>{{ title }}</span><br/>
        <span>Employees</span>
    </div>


    <ion-grid class="mt">

        <ion-row class="text-uppercase text-grey" style="border-bottom: 1px solid #fff">
            <ion-col class="text-center">Sr.No</ion-col>
            <ion-col>Name</ion-col>
        </ion-row>

        <ng-container *ngIf="employees.length !== 0; else nodata">
            <ion-row *ngFor="let item of employees; let  i = index" class="employee-details">
                <ion-col class="text-center">{{ i }}</ion-col>
                <ion-col>{{ item.fullName }}</ion-col>
            </ion-row>
        </ng-container>
        <ng-template #nodata>
            <p>No {{ title }} workers</p>
        </ng-template>


    </ion-grid>

</ion-content>