page-employee {

  .employee-details {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #909090;
    letter-spacing: 1.5px;
    font-weight: 100;
  }

  .title {
    font-size: 25px;
    font-weight: 100
  }

  .mt {
    margin-top: 5vh;
  }
}
