page-home {

  .logo {
    background: #000;
    float: right;
    clear: both;
  }

  p {
    line-height: 0
  }

  .day {
    font-size: 33px;
    font-weight: 600;
  }

  .month {
    margin-top: 3px;
    margin-left: 5px;
  }

  .square {
    display: block;
    border-radius: 20px;
    background: #121212;
    height: 20vh;
    width: 43vw;
  }

  .align-bottom {
    vertical-align: bottom;
    position: absolute;
    bottom: 3vh;
  }

  .button {
    background-color: #3700b3;
}

}
